@import "tailwindcss";

@theme inline {
  --font-raleway: var(--font-raleway);
  --font-nunito: var(--font-nunito-sans);
  --font-storyscript: var(--font-story-script);
  --font-festive: var(--font-festive);
  --font-leaguescript: var(--font-league-script);

  --color-mauve-mist: #8a4c76;
  --color-dusty-rose: #edc2c7;
  --color-ivory-cream: #ffeef5;
  --color-golden-amber: #ff331d;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  background-color: black;
}
